#barra.barra
  .barra__nav.barra__nav
    .barra__nav-content
      .barra__nav-brand
        +logo('index.html')
      .barra__nav-list
        +item('index.html', 'home-outline.svg', 'vector_home', 'Inicio')
        +item('letters.html', 'chatbubbles-outline.svg', 'vector_chat', 'Cartas')
        +item('gallery.html', 'images-outline.svg', 'vector_imagenes', 'Galería')
        +item('anecdotal.html', 'document-lock-outline.svg', 'vector_document', 'Anecdotario')
        +btnDark()