#barra.barra
  .barra__nav.barra__nav
    .barra__nav-content
      .barra__nav-brand
        +logo('index.html')
      .barra__nav-list
        +item('#hero', 'home-outline.svg', 'vector_home', 'Inicio')
        +item('#love', 'heart-half-outline.svg', 'vector_heart', 'Mi Amor')
        +item('#multimedia', 'camera-outline.svg', 'vector_camera', 'Multimedia')
        +item('#sky', 'cloudy-night-outline.svg', 'vector_cloudy', 'Cielo')
        +item('#video', 'film-outline.svg', 'vector_video', 'Canciones')
        +item('#watch', 'timer-outline.svg', 'vector_reloj', 'Próximamente')
        +btnDark()