.hero#hero
  .hero__images
    picture
      source(srcset="images/nosotros.avif", typed="image/avif")
      source(srcset="images/nosotros.webp", typed="image/webp")
      source(srcset="images/nosotros.jpeg", typed="image/jpeg")
      img(loading="lazy", src=`${paths.img}nosotros.jpg`, alt="foto_hugo&yuli")
  .hero__text
    h1.hero__title Hugo & Yuli
    p.hero__subtitle Feliz Aniversario
    p.hero__subtitle Mi Amor
    p.hero__subtitle y sobre todo...
    p.hero__subtile 
      span.typed