extends ../templates/template-page
block titleHead
  title=`${names.gallery} - Hugo & Yuli`
block main
  .wrapper
    h2.center.title Galería
      .galeria
        +galeria('1', '0')
        +galeria('2', '0')
        +galeria('3', '0')
        +galeria('4', '1')
        +galeria('5', '2')
        +galeria('6', '2')
        +galeria('7', '3')
        +galeria('8', '4')
        +galeria('9', '4')
        +galeria('10', '4')
        +galeria('11', '2')
        +galeria('12', '2')
        +galeria('13', '2')
        +galeria('14', '5')
        +galeria('15', '5')
        +galeria('16', '5')
        +galeria('17', '5')
        +galeria('18', '5')
        +galeria('19', '6')
        +galeria('20', '6')
        +galeria('21', '6')
        +galeria('22', '6')
        +galeria('23', '4')
        +galeria('24', '7')
        +galeria('25', '7')
        +galeria('26', '8')
        +galeria('27', '8')
        +galeria('28', '9')
        +galeria('29', '9')
        +galeria('30', '10')
        +galeria('31', '10')
        +galeria('32', '11')
        +galeria('33', '11')
        +galeria('34', '12')
        +galeria('35', '12')
        +galeria('36', '13')
        +galeria('37', '13')
        +galeria('38', '14')
        +galeria('39', '14')
        +galeria('40', '9')
        +galeria('41', '9')
        +galeria('42', '15')
        +galeria('43', '15')
        +galeria('44', '15')
        +galeria('45', '15')
        +galeria('46', '15')
        +galeria('47', '15')
        +galeria('48', '16')
        +galeria('49', '16')
        +galeria('50', '16')
        +galeria('51', '16')
        +galeria('52', '16')
        +galeria('53', '16')
        +galeria('54', '16')
        +galeria('55', '17')
        +galeria('56', '17')
        +galeria('57', '17')
        +galeria('58', '18')
        +galeria('59', '18')
        +galeria('60', '19')
        +galeria('61', '19')
        +galeria('62', '19')
        +galeria('63', '20')
        +galeria('64', '20')
        +galeria('65', '20')
        +galeria('66', '21')
        +galeria('67', '21')
        +galeria('68', '22')
        +galeria('69', '22')
        +galeria('70', '22')
        +galeria('71', '23')
        +galeria('72', '23')
        +galeriaRotate('73', '24')
        +galeriaRotate('74', '24')
        +galeria('75', '25')
        +galeria('76', '25')
        +galeria('77', '25')
        +galeria('78', '25')

        .galeria__contenido
          img(src=`${paths.img}nosotros.jpg`, alt="fotos de nosotros", loading="lazy").galeria__show
          img(src=`${paths.icon}close-circle-outline.svg`, alt="vector circle").galeria__icon
          p.galeria__copy

  +btnGoup()

block prepend scripts
  script(src=`${paths.script}goup.js`)