extends ../templates/template-index
block titleHead
  title=`${names.home} - Hugo & Yuli`
block header
  include ../layout/header
block hero
  include ../layout/hero
block main
  .wrapper
    section.writings.wow.animate__animated.animate__fadeInUp#love
      h2.writings__title.center Mi Amor
      p.writings__text.center Esta página la cree para nosotros y para que quede registrado todo lo que siento por mi amory obvio de igual manera ir practicando todo lo que voy aprendiendo de diseño web y más cosas así que esto solo es el principio ya que muchas cosas van a ir mejorando y me refiero a que unas cosas se quedan otras se van jajaja pero no solo esto es mío sino tuyo también amor y sabes porque.  
      p.writings__text.center Porque aquí encontraras las cartas que me pediste, una galería de nuestras fotos y unanecdotario (como un diario) el cual iremos llenando con nuestras salidas o cosas que nosotros queremos, yo sé que ahorita no se va a ver tan genial como quisiera porque un tengo muchas cosas por aprender pero te aseguro mi cielo que poco a poco le iré metiendo mucho más cosas mi cielo.
      p.writings__text.center Yo no soy tan bueno escribiendo o haciendo cartitas lo sabes mi amor, pero aquí quieroplasmar todo todo mi amor por ti, porque estos 5 años a tu lado eh aprendido muchas cosas y no solo eso, me has cambiado de una manera muy grande.
      p.writings__text.center TE AMO MI HERMOSA NOVIA con todo mi corazón.
    
  +banner('Hugo y Yuli 사랑해 💖💘💕')

  .wrapper

    section#multimedia
      include ../layout/box-multimedia
    
    section.writings.wow.animate__animated.animate__fadeInUp#sky
      h2.writings__title.center Mi Cielo
      p.writings__text.center Gracias amor por todos estos años juntos, gracias por convivir con mi familia y soportar misdramas, locuras y demás cosas yo sé que no soy una persona muy fácil de entender pero créeme amor que pese a eso cuando te digo que TE AMO lo hago de corazón y sin mentir. Tu eres mi novia hermosa y sobre todo con la persona con la quiero estar por mucho tiempo. De nuevo gracias mi amor y espero te guste esto que hice para ti, obvio al pasar del tiempo va a ir mejorando y se va a ir haciendo más grande y mucho más bonita. AMO CORAZÓN MIO.

    section#video
      h2.center.title.wow.animate__animated.animate__fadeInUp Algunos de los videos que me has dedicado 
      .videos.wow.animate__animated.animate__jackInTheBox
        iframe(src="https://www.youtube.com/embed/MHfQbXiOJIU", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen) 
        iframe(src="https://www.youtube.com/embed/BxVAk5Cgp2k", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen) 
        iframe(src="https://www.youtube.com/embed/qmbuwP3LfkA", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen) 
        iframe(src="https://www.youtube.com/embed/od011D9Fx7s", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen) 
        iframe(src="https://www.youtube.com/embed/r3IzjBEOKAM", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen) 
        iframe(src="https://www.youtube.com/embed/cvgfPRo7e8A", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen) 
        iframe(src="https://www.youtube.com/embed/D9W4DLjmoOM", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen) 
        iframe(src="https://www.youtube.com/embed/ErmVTrebidQ", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen) 
        iframe(src="https://www.youtube.com/embed/B5B5pPVEwyw", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen) 
        iframe(src="https://www.youtube.com/embed/FmRh8qxktMA", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture", allowfullscreen)

block footer
  .wrapper
    .watch#watch
      .watches
        h3.center Tiempos de Novios
        .watches__content#time_elapsed
      .watches
        h3.center Próximo Aniversario
        .watches__content#time_next