extends ../templates/template-index
block titleHead
  title=`${names.home} - Hugo & Yuli`
block header
  include ../layout/header
block hero
  include ../layout/hero
block main
  .wrapper
    section.writings.wow.animate__animated.animate__fadeInUp#love
      h2.writings__title.center Mi Amor
      p.writings__text.center Esta página la cree para nosotros y para que quede registrado todo lo que siento por mi amory obvio de igual manera ir practicando todo lo que voy aprendiendo de diseño web y más cosas así que esto solo es el principio ya que muchas cosas van a ir mejorando y me refiero a que unas cosas se quedan otras se van jajaja pero no solo esto es mío sino tuyo también amor y sabes porque.  
      p.writings__text.center Porque aquí encontraras las cartas que me pediste, una galería de nuestras fotos y unanecdotario (como un diario) el cual iremos llenando con nuestras salidas o cosas que nosotros queremos, yo sé que ahorita no se va a ver tan genial como quisiera porque un tengo muchas cosas por aprender pero te aseguro mi cielo que poco a poco le iré metiendo mucho más cosas mi cielo.
      p.writings__text.center Yo no soy tan bueno escribiendo o haciendo cartitas lo sabes mi amor, pero aquí quieroplasmar todo todo mi amor por ti, porque estos 5 años a tu lado eh aprendido muchas cosas y no solo eso, me has cambiado de una manera muy grande.
      p.writings__text.center TE AMO MI HERMOSA NOVIA con todo mi corazón.
    
  +banner('Hugo y Yuli 사랑해 💖💘💕')

  .wrapper

    section#multimedia
      include ../layout/box-multimedia