.wrapper
{
  max-width: 116rem;
  width: 60%;
  margin: 0 auto;
  @include rwd(m) {
    width: 80%;
  }
}

.center
{
  text-align: center;
}

.writings
{
  &__title {
    margin: 4rem 0 0 0;
    font-size: 3rem;
    @include rwd(m) {
      font-size: 3.8rem;
    }
  }

  &__subtitle {
    font-size: 2rem;
  }

  &__text {
    margin: 1.6rem 0;
  }
}

.title
{
  margin: 3rem 0;
  font-size: 2rem;
  @include rwd(m) {
    font-size: 3.8rem;
  }
}