.dark
{
  background-color: var(--negro);

  h1,
  p,
  a {
    color: var(--blanco)
  }

  .icons {
    filter: invert(100%)
  }

  .barra {
    @include windowsRightDark;
  }
  .nav__link {
    &:hover {
      @include windowsCompleteDark;
    }
  }
}