.dark
{
  background-color: var(--negro);

  h1,
  h2,
  h3,
  h4,
  p,
  li,
  a {
    color: var(--blanco)
  }

  .icons {
    filter: invert(100%)
  }

  .barra {
    @include windowsRightDark;
  }
  
  .nav__link {
    &:hover {
      @include windowsCompleteDark;
    }
  }

  .banner {
    background-image: img('sky_night.jpg');
  }

  .box {
    @include neuformismoDark;
  }

  .footer {
    background-color: var(--blanco);
    color: var(--negro);

    h3 {
      color: var(--negro);
    }
  }

  .carta::after {
    background-color: var(--blanco);
  }

  .galeria__img {
    outline: 1px solid var(--blanco);
  }
  .galeria__contenido {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .galeria__icon {
    filter: invert(0);
  }
  .galeria__copy {
    color: var(--negro);
    background-color: rgba(255, 255, 255, 0.6);
  }

  .link {
    color: var(--color-cuarto);
  }
}