mixin btnNote(previous, next)
  a(href= previous): img(src=`${paths.icon}return-down-back-outline.svg`, alt="vector_previous")
  a(href="anecdotal.html"): img(src=`${paths.icon}repeat-outline.svg`, alt="vector_reload") 
  a(href= next): img(src=`${paths.icon}return-down-forward-outline.svg`, alt="vector_next") 