:root
{
    --color-primero:#7d3c98;
    --color-primeroDark:#8e44ad;
    --color-segundo:#008080;
    --color-tercero:#ff0;
    --color-cuarto: #750D37;
    
    --blanco: #fffffe;
    --negro: #151516;
    
    --color-nota: #b8bfc6;
    --bg-nota: #363b40;

    --scrollOne:#48D1CC;
    --scrollTwo:#4682B4;

    --fuenteHeading: 'Original Surfer', cursive;
    --fuenteText: 'Handlee', cursive;
}

$widthNav: 5rem;
$path: '/src/assets/img/';