//- RutasDesarrollo
//- -
//-   const paths = {
//-       style: '/src/css/',
//-       js: '/src/js/index.js',
//-       script: '/src/js/scripts/',
//-       img: '/src/assets/img/',
//-       gallery: '/src/assets/img/gallery/',
//-       icon: '/src/assets/img/icon/',
//-       doc: '/src/assets/docs/'
//-   };

//- RutasDepliegue
-
  const paths = {
      style: 'public/css/',
      js: 'public/js/main.min.js',
      script: 'public/script/',
      img: 'public/assets/media/imagen/',
      gallery: 'public/assets/media/gallery/',
      icon: 'public/assets/media/img-vector/icon/',
      favicon: 'public/assets/media/img-vector/favicon/',
      doc: 'public/assets/docs/'
  };

//- Nombres
-
  const names = {
      home: 'Home',
      letters: 'Cartas',
      gallery: 'Galería',
      anecdotal: 'Anecdotario'
  };

//- Fotos
-const fotos = ["Foto Editada", "Fam. Pineda León", "Primeras Salidas", "Cuando nos Conocimos", "En Ciudad Universitaria", "Museo de Geología", "Zoologico los Coyotes", "Museo de la Luz", "En el Zocalo", "En el Metro", "Museo Memoria y Tolerancia","Rumbo a la Casa", "Comiendo Ramen", "Barrio Chino", "Bosque de Aragón", "Llegando a Casa", "Ixtapan de la Sal", "Boda en Toluca", "Boda Jess", "Parque Delta", "1° Salida del 2021", "Festejando el cumple de mi Amor", "14 de Febrero 2021", "De Sorpresa en su Casa", "Cumple Valecito", "Salida a Chapultepec"]