//- RutasDesarrollo
//- -
//-   const paths = {
//-       style: '/src/css/',
//-       js: '/src/js/index.js',
//-       script: '/src/js/scripts/',
//-       img: '/src/assets/img/',
//-       gallery: '/src/assets/img/gallery/',
//-       icon: '/src/assets/img/icon/',
//-       doc: '/src/assets/docs/'
//-   };

//- RutasDepliegue
-
  const paths = {
      style: 'public/css/',
      js: 'public/js/main.min.js',
      script: 'public/js/scripts/',
      img: 'public/assets/imagen/',
      gallery: 'public/assets/imagen/gallery/',
      icon: 'public/assets/imagen/icon/',
      doc: 'public/assets/docs/'
  };

//- Nombres
-
  const names = {
      home: 'Home',
      letters: 'Cartas',
      gallery: 'Galería',
      anecdotal: 'Anecdotario'
  };